In [1]:
import pandas as pd 
import numpy as np
import glob 

excel_files = glob.glob('./files/*.xlsx')
all_df = []
for file in excel_files:
    dfs = pd.read_excel(file)
    all_df.append(dfs)

df = pd.concat(all_df, ignore_index = True)
df.head()

,Unnamed: 0,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
0,0,"Business Valuations, Consulting, Sales, Funding",Wallace,Taylor,Wallace Taylor,+1 205-290-3334,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/busin...,NaN
1,1,Sunbelt Business Brokers,Gary,Wallace,Gary Wallace,+1 205-602-5827,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/sunbe...,NaN
2,2,Business Resource,Wilson,Archer,Wilson Archer,+1 208-870-1717,"Mountain Brook, Alabama",Mountain Brook,Alabama,https://www.bizquest.com/business-broker/busin...,NaN
3,3,Optics Capital LLC,Alex,McGinty,Alex Mcginty,+1 205-514-1382,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/optic...,NaN
4,4,isellrestaurantsandbars.com,Randy,Shurbet,Randy Shurbet,+1 251-600-9397,"Foley, Alabama",Foley,Alabama,https://www.bizquest.com/business-broker/isell...,NaN

In [2]:
del df['Unnamed: 0']
df.shape

(13147, 10)

In [5]:
df.drop_duplicates(subset=['Corporate Phone'], keep='first')
df.shape

(13147, 10)

In [7]:
df = df.sort_values(by='Full Name')

In [8]:
df.to_excel('merge.xlsx')

In [9]:
df = df.drop_duplicates(subset='Corporate Phone', keep='first')
df.shape

(6691, 10)