In [1]:
import pandas as pd 
import numpy as np 

df1 = pd.read_csv('107.csv')
df2 = pd.read_csv('478.csv')

df = pd.concat([df1, df2], ignore_index = True)
df.head()

,title,placeUrl,website,status,subtitle,rating,reviewCount,category,address,phoneNumber,searchQuery,email,phoneFromWebsite
0,Izzy's Tiny Paws Boutique,https://www.google.com/maps/place/Izzy%27s+Tin...,NaN,No website found,NaN,5.0,5.0,Pet store,NaN,+1 718-415-3796,small pet in Queens or Bronx,NaN,NaN
1,Pet Crazy,https://www.google.com/maps/place/Pet+Crazy/da...,NaN,No website found,NaN,4.3,70.0,Pet groomer,"12 Airstream Lane, Byram, MS 39272, United States",+1 601-346-9210,small pet in Queens or Bronx,NaN,NaN
2,Pets Unlimited Ltd Inc,https://www.google.com/maps/place/Pets+Unlimit...,http://www.petsunlimitednyc.com/,Data found,NaN,3.4,117.0,Pet store,"45-10 46th St, Sunnyside, NY 11104, United States",+1 718-392-0395,small pet in Queens or Bronx,NaN,(718) 392-0395
3,Pet City,https://www.google.com/maps/place/Pet+City/dat...,NaN,No website found,NaN,4.3,344.0,Pet store,"108 E Burnside Ave, Bronx, NY 10453, United St...",+1 718-731-5787,small pet in Queens or Bronx,NaN,NaN
4,Whole Pets Market,https://www.google.com/maps/place/Whole+Pets+M...,http://wholepetmarkets.com/,Data found,NaN,4.3,490.0,Pet store,"2175 White Plains Rd, Bronx, NY 10462, United ...",+1 718-792-9408,small pet in Queens or Bronx,impallari@gmail.com,(512) 858-5400

In [2]:
df.shape

(585, 13)

In [7]:
phone_replace = df[df['phoneNumber'].isnull() & df['phoneFromWebsite'].notnull()]
phone_replace

Empty DataFrame
Columns: [title, placeUrl, website, status, subtitle, rating, reviewCount, category, address, phoneNumber, searchQuery, email, phoneFromWebsite]
Index: []

In [6]:
df['phoneNumber'] = df['phoneNumber'].fillna(df['phoneFromWebsite'])

In [8]:
df = df.drop(columns = ['phoneFromWebsite', 'status', 'subtitle'])

In [9]:
for index, phone in df['phoneNumber'].items():
    if pd.notnull(phone) and '+1' not in phone:
        new_phone = ''
        for character in phone:
            if character.isnumeric():
                new_phone += character 
        new_phone2 = '+1 ' + new_phone[:3] + '-' + new_phone[3:6] + '-' + new_phone[6:]
        df.at[index, 'phoneNumber'] = new_phone2

In [10]:
df = df.drop_duplicates(keep='first')
df.shape

(585, 10)

In [11]:
df = df.drop_duplicates(subset = 'phoneNumber', keep='first')
df.shape

(539, 10)

In [13]:
df.head()

,title,placeUrl,website,rating,reviewCount,category,address,phoneNumber,searchQuery,email
0,Izzy's Tiny Paws Boutique,https://www.google.com/maps/place/Izzy%27s+Tin...,NaN,5.0,5.0,Pet store,NaN,+1 718-415-3796,small pet in Queens or Bronx,NaN
1,Pet Crazy,https://www.google.com/maps/place/Pet+Crazy/da...,NaN,4.3,70.0,Pet groomer,"12 Airstream Lane, Byram, MS 39272, United States",+1 601-346-9210,small pet in Queens or Bronx,NaN
2,Pets Unlimited Ltd Inc,https://www.google.com/maps/place/Pets+Unlimit...,http://www.petsunlimitednyc.com/,3.4,117.0,Pet store,"45-10 46th St, Sunnyside, NY 11104, United States",+1 718-392-0395,small pet in Queens or Bronx,NaN
3,Pet City,https://www.google.com/maps/place/Pet+City/dat...,NaN,4.3,344.0,Pet store,"108 E Burnside Ave, Bronx, NY 10453, United St...",+1 718-731-5787,small pet in Queens or Bronx,NaN
4,Whole Pets Market,https://www.google.com/maps/place/Whole+Pets+M...,http://wholepetmarkets.com/,4.3,490.0,Pet store,"2175 White Plains Rd, Bronx, NY 10462, United ...",+1 718-792-9408,small pet in Queens or Bronx,impallari@gmail.com

In [14]:
df.to_excel('539.xlsx')